doctype html
html(lang="en" ng-app="myApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular.js')
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/socket.js")
    script(src='/javascripts/client.js')
  body
    block content




//- <body>
//-   <script src="bower_components/socket.io-client/socket.io.js"></script>
//-   <script src="bower_components/angular/angular.js"></script>
//-   <script src="bower_components/angular-socket-io/socket.js"></script>



//- </body>
